$padding-small: 0.5rem;
$padding-medium: 1rem;
$padding-large: 2rem;

$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-large: 16px;

$font-size-xsmall: 0.7rem;
$font-size-small: 0.8rem;
$font-size-medium: 1rem;
$font-size-large: 1.2rem;

$footer-background-color: #480984;
$footer-text-color: #ffffff;

$primary-color: #480984;
$secondary-color: #e4f848;
$card-background-color: #ffffff;
$background-color: #f5f5f5;
$background-color-darker: #e0e0e0a2;
$text-color: #333333;

$border-color: 1px solid #cccccc;

$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
