@use "../../styles/variables/variables" as *;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $padding-medium;
  background-color: $footer-background-color;
  color: $footer-text-color;
  font-size: $font-size-small;
}

@media (max-width: 600px) {
  .footer {
    padding: $padding-small;
    font-size: $font-size-xsmall;
  }
}